.div-pokemon{
    display: flex;
}

.div-logo{
    width: 100%;
    border: 1px solid purple;
    text-align:center;
}

.div-filter{
    text-align: center;
}

.input-filter{
    width: 30%;
    height: 20px;
}

.pokemon-icon{
    width: 50px;
}

.ver-pokemon{
    height: 20px;
}